* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  height: 100vh;
  background-color: #141414;
  font-family: 'Kanit', sans-serif;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: black;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 110px;
  padding-right: 100px;
}

#header-left {
  display: flex;
  align-items: center;
  height: 100%;
}

.list-inline {
  display: flex;
  list-style: none;
}

.list-inline li {
  font-size: 16px;
  margin-right: 20px;
}

.list-inline li a {
  text-decoration: none;
  color: white;
}

#logo {
  max-height: 100%;
  padding-right: 40px;
}

#header-left .select {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: 'Kanit', sans-serif;
  color: white;
  font-size: 14px;
  background-color: black;
  padding: 5px;
  border: 1px solid white;
  cursor: pointer;
}

#header-left .select:focus,
#header-left .select:hover {
  outline: none;
}

.select::-webkit-scrollbar{
  width: 3px;
}

.select::-webkit-scrollbar-thumb{
  background-color: lightgrey;
  border-radius: 3px;
}

#header-right {
  display: flex;
  align-items: center;
}

#header-right .list-inline,
#header-right .list-inline li a {
  display: flex;
  align-items: center;
}

#search-bar-container {
  color: white;
  margin-right: 20px;
  border: 1px solid white;
}

#search-bar-container > i {
  margin-left: 10px;
  margin-right: 5px;
}

#search-bar {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 5px 0;
  border: 0;
}

#search-bar::placeholder {
  font-size: 16px;
}

#search-bar:focus {
  outline: none;
}

#avatar {
  height: 36px;
}

#main {
  width: 100%;
  /* background-color: #434343; */
  background-color: #141414;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  width: 220px;
  height: 330px;
  /* border: solid lightgrey 1px; */
  margin: 50px 12px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0.2s;
}

.background-img-cover {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.info-list-card {
  position: absolute;
  top: 0;
  opacity: 0;
  /* display: none; */
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 30px 10px;
  /* background-color: black; */
  color: white;
  overflow: auto;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card:hover .background-img-cover {
  /* display: none; */
  opacity: 0.3;
}

.card:hover #info-list-card {
  /* display: block; */
  opacity: 1;
}

.info-list-card li > img {
  width: 20px;
  height: 100%;
}

.fas.fa-star {
  color:#FFD700;
}

.card ::-webkit-scrollbar{
  width: 3px;
}

.card ::-webkit-scrollbar-thumb{
  background-color: lightgrey;
  border-radius: 3px;
}
