<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- mio css -->
    <link rel="stylesheet" href="css/style.css">
    <title>Netflix</title>
  </head>
  <body>
    <div id="root">

      <!-- HEADER DELLA PAGINA -->

      <header>
        <div id="header-left">
            <img src="img/logo-netflix.png" alt="logo" id="logo">
            <ul class="list-inline">
              <li><a href="#">Home</a></li>
              <li><a href="#">Serie TV</a></li>
              <li><a href="#">Film</a></li>
              <li><a href="#">Nuovi e popolari</a></li>
              <li><a href="#">La mia lista</a></li>
              <li><a href="#">Guarda di nuovo</a></li>
              <li>
                <a href="#">
                  <template v-if="filmName">
                    <select class="select" v-model="selectedGenre">
                      <option value="">Scegli genere</option>
                      <option v-for="(genre, key) in genres" :value="key">{{ genre }}</option>
                    </select>
                  </template>
                </a>
              </li>
            </ul>
        </div>

        <div id="header-right">
          <div id="search-bar-container">
            <i class="fas fa-search"></i>
            <input type="text" name="" value="" placeholder="Cerca il film" id="search-bar" v-model="filmName" @keydown.enter="search">
          </div>

          <ul class="list-inline">
            <li><a href="#"><i class="fas fa-gift"></i></a></li>
            <li><a href="#"><i class="fas fa-bell"></i></a></li>
            <li><a href="#"><img src="img/avatar.png" alt="Avatar" id="avatar"></a></li>
          </ul>
        </div>
      </header>

      <!-- MAIN DELLA PAGINA -->

      <main id="main">

        <!-- TEMPLATE DOPO RICERCA DELLA QUERY -->

        <template v-if="(filmName)">
          <div class="cards-container">
            <div v-for="(film, index) in filmsSeriesArray" v-if="film.genre_ids.includes(parseInt(selectedGenre)) || selectedGenre == ''" class="card">
              <img v-if="film.poster_path" :src="prefixOfFilmUrl + film.poster_path" :alt="film.title || film.name" class="background-img-cover">
              <img v-else :src="placeHolderImage" :alt="film.title || film.name" class="background-img-cover">

              <ul class="info-list-card">
                <li><strong>Titolo:</strong> {{film.title || film.name}}</li>

                <li><strong>Titolo originale:</strong> {{film.original_title || film.original_name}}</li>

                <li><strong>Voto:</strong>
                  <i v-for="vote in averageVoteArray(film.vote_average)" class="fas fa-star"></i>
                  <i v-for="vote in (5 - averageVoteArray(film.vote_average))" class="far fa-star"></i>
                </li>

                <li><strong>Lingua:</strong>
                  <img :src="getFlag(film.original_language)" :alt="film.original_language">
                </li>

                <li>
                  <strong>Genere:</strong> {{setGenre(film.genre_ids)}}
                </li>

                <li>
                  <p><strong>Attori:</strong></p>
                  <ul>
                    <li v-for="character in film.cast">{{character}}</li>
                  </ul>
                </li>

                <li><strong>Overview:</strong> {{film.overview}}</li>
              </ul>
            </div>
          </div>
        </template>

        <!-- TEMPLATE AL CARICAMENTO DELLA PAGINA -->

        <template v-else>
          <!-- film popolari -->
          <div class="popular-container">
            <h1 class="section-titles">Film più popolari</h1>
            <div class="popular-card-container">
              <div class="card" v-for="film in popularFilms">
                <img v-if="film.poster_path" :src="prefixOfFilmUrl + film.poster_path" :alt="film.title || film.name" class="background-img-cover">
              <img v-else :src="placeHolderImage" :alt="film.title || film.name" class="background-img-cover">

              <ul class="info-list-card">
                <li><strong>Titolo:</strong> {{film.title || film.name}}</li>

                <li><strong>Titolo originale:</strong> {{film.original_title || film.original_name}}</li>

                <li><strong>Voto:</strong>
                  <i v-for="vote in averageVoteArray(film.vote_average)" class="fas fa-star"></i>
                  <i v-for="vote in (5 - averageVoteArray(film.vote_average))" class="far fa-star"></i>
                </li>

                <li><strong>Lingua:</strong>
                  <img :src="getFlag(film.original_language)" :alt="film.original_language">
                </li>

                <li>
                  <strong>Genere:</strong> {{setGenre(film.genre_ids)}}
                </li>

                <li>
                  <p><strong>Attori:</strong></p>
                  <ul>
                    <li v-for="character in film.cast">{{character}}</li>
                  </ul>
                </li>

                <li><strong>Overview:</strong> {{film.overview}}</li>
              </ul>
              </div>
            </div>            
          </div>

          <!-- serie popolari -->
          <div class="popular-container">
            <h1 class="section-titles">Serie più popolari</h1>
            <div class="popular-card-container">
              <div class="card" v-for="film in popularSeries">
                <img v-if="film.poster_path" :src="prefixOfFilmUrl + film.poster_path" :alt="film.title || film.name" class="background-img-cover">
              <img v-else :src="placeHolderImage" :alt="film.title || film.name" class="background-img-cover">

              <ul class="info-list-card">
                <li><strong>Titolo:</strong> {{film.title || film.name}}</li>

                <li><strong>Titolo originale:</strong> {{film.original_title || film.original_name}}</li>

                <li><strong>Voto:</strong>
                  <i v-for="vote in averageVoteArray(film.vote_average)" class="fas fa-star"></i>
                  <i v-for="vote in (5 - averageVoteArray(film.vote_average))" class="far fa-star"></i>
                </li>

                <li><strong>Lingua:</strong>
                  <img :src="getFlag(film.original_language)" :alt="film.original_language">
                </li>

                <li>
                  <strong>Genere:</strong> {{setGenre(film.genre_ids)}}
                </li>

                <li>
                  <p><strong>Attori:</strong></p>
                  <ul>
                    <li v-for="character in film.cast">{{character}}</li>
                  </ul>
                </li>

                <li><strong>Overview:</strong> {{film.overview}}</li>
              </ul>
              </div>
            </div>            
          </div>

            <!-- film più votati  -->
            <div class="popular-container">
              <h1 class="section-titles">Film più votati</h1>
              <div class="popular-card-container">
                <div class="card" v-for="film in mostVotedFilms">
                  <img v-if="film.poster_path" :src="prefixOfFilmUrl + film.poster_path" :alt="film.title || film.name" class="background-img-cover">
                <img v-else :src="placeHolderImage" :alt="film.title || film.name" class="background-img-cover">
  
                <ul class="info-list-card">
                  <li><strong>Titolo:</strong> {{film.title || film.name}}</li>
  
                  <li><strong>Titolo originale:</strong> {{film.original_title || film.original_name}}</li>
  
                  <li><strong>Voto:</strong>
                    <i v-for="vote in averageVoteArray(film.vote_average)" class="fas fa-star"></i>
                    <i v-for="vote in (5 - averageVoteArray(film.vote_average))" class="far fa-star"></i>
                  </li>
  
                  <li><strong>Lingua:</strong>
                    <img :src="getFlag(film.original_language)" :alt="film.original_language">
                  </li>
  
                  <li>
                    <strong>Genere:</strong> {{setGenre(film.genre_ids)}}
                  </li>
  
                  <li>
                    <p><strong>Attori:</strong></p>
                    <ul>
                      <li v-for="character in film.cast">{{character}}</li>
                    </ul>
                  </li>
  
                  <li><strong>Overview:</strong> {{film.overview}}</li>
                </ul>
                </div>
              </div>            
            </div>

            <!-- serie più votate  -->
            <div class="popular-container">
              <h1 class="section-titles">Serie più votate</h1>
              <div class="popular-card-container">
                <div class="card" v-for="film in mostVotedSeries">
                  <img v-if="film.poster_path" :src="prefixOfFilmUrl + film.poster_path" :alt="film.title || film.name" class="background-img-cover">
                <img v-else :src="placeHolderImage" :alt="film.title || film.name" class="background-img-cover">
  
                <ul class="info-list-card">
                  <li><strong>Titolo:</strong> {{film.title || film.name}}</li>
  
                  <li><strong>Titolo originale:</strong> {{film.original_title || film.original_name}}</li>
  
                  <li><strong>Voto:</strong>
                    <i v-for="vote in averageVoteArray(film.vote_average)" class="fas fa-star"></i>
                    <i v-for="vote in (5 - averageVoteArray(film.vote_average))" class="far fa-star"></i>
                  </li>
  
                  <li><strong>Lingua:</strong>
                    <img :src="getFlag(film.original_language)" :alt="film.original_language">
                  </li>
  
                  <li>
                    <strong>Genere:</strong> {{setGenre(film.genre_ids)}}
                  </li>
  
                  <li>
                    <p><strong>Attori:</strong></p>
                    <ul>
                      <li v-for="character in film.cast">{{character}}</li>
                    </ul>
                  </li>
  
                  <li><strong>Overview:</strong> {{film.overview}}</li>
                </ul>
                </div>
              </div>            
            </div>
        </template>
      </main>

    </div>

    <script src="js/script.js"></script>
  </body>
</html>
